parameters:
	level: 8
	reportUnmatchedIgnoredErrors: false
	editorUrl: 'vscode://file/%%file%%:%%line%%'
	paths:
		- app
		- index.php
		- autoloader.php
		- run-answer.php
		- run-cli.php
		- run-web.php
